<div class="quiz-wrapper">
    <div *ngIf="isOver" class="quiz-info">
        <p>Score: {{ quiz?.score }} of {{ quiz?.maxScore }}</p>
    </div>

    <div class="quiz-content">
        <div *ngIf="!isStarted" class="quiz-start">
            <h1>{{ quiz?.title }}</h1>
            <p class="copy-content" [innerHTML]="getWelcomeText()"></p>
            <button (click)="checkIncrementWelcomeText()">{{ getWelcomeButton() }}</button>
        </div>

        <app-question *ngIf="shouldShowQuestions()"
                    [question]="getActiveQuestion()"
                    (nextQuestionEmitter)="onNextQuestion()"
                    (checkAnswerEmitter)="onAnswer($event)"
        ></app-question>

        <div *ngIf="isOver" class="quiz-over">
            <p>{{ getIsOverText() }}</p>
            <button (click)="restartQuiz()">Take Quiz Again</button>
        </div>
    </div>
</div>