.question-wrapper {
    margin-top: 50px;

    .question-content {
        h5 {
            margin-bottom: 20px;
        }
    }
}

button, .answers-wrapper, .question-content {
    opacity: 0;
    -webkit-animation: anim-fade-in 1s ; /* Safari 4+ */
    -moz-animation:    anim-fade-in 1s ; /* Fx 5+ */
    -o-animation:      anim-fade-in 1s ; /* Opera 12+ */
    animation:         anim-fade-in 1s ; /* IE 10+, Fx 29+ */
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

button {
    -webkit-animation-delay: 0.5s; /* Safari 4+ */
    -moz-animation-delay:    0.5s; /* Fx 5+ */
    -o-animation-delay:      0.5s; /* Opera 12+ */
    animation-delay:         0.5s; /* IE 10+, Fx 29+ */
}