.reaction-wrapper {
    text-align: left;
    background: rgba(#fff, 0.1);
    padding: 5px 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    opacity: 0;
    -webkit-animation: anim-fade-in 1s ; /* Safari 4+ */
    -moz-animation:    anim-fade-in 1s ; /* Fx 5+ */
    -o-animation:      anim-fade-in 1s ; /* Opera 12+ */
    animation:         anim-fade-in 1s ; /* IE 10+, Fx 29+ */
    animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}